# Data Quality Report (DQR)
### Vítor Moura - Data Scientist

* DQR é um relatório analítico com o objetivo de compreender a organização dos dados, se estão coerentes e se estão consistentes. 
* Possibilitando identificar problemas e corrigi-los, encontrar anomalias e resumir os dados com base no problema de negócio.

In [8]:
#!pip install -q -U watermark

In [3]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [4]:
%reload_ext watermark
%watermark -a "Vítor Moura" --iversions

Author: Vítor Moura

seaborn   : 0.11.2
sys       : 3.9.12 (main, Apr  5 2022, 06:56:58)
[GCC 7.5.0]
pandas    : 1.4.2
matplotlib: 3.5.1
numpy     : 1.21.5

In [5]:
# Load data
df_unique = pd.read_csv('desafio-ds/individuos_espec.csv', sep = ';')
df_connections = pd.read_csv('desafio-ds/conexoes_espec.csv', sep=';')

### Shape dos Dados

In [6]:
df_unique.shape

(1000000, 9)

In [7]:
df_connections.shape

(999999, 5)

### Visualização dos Dados

In [9]:
df_unique.head()

,name,idade,estado_civil,qt_filhos,estuda,trabalha,pratica_esportes,transporte_mais_utilizado,IMC
0,1,44.0,divorciado,1.0,1.0,0.0,1.0,publico,22.200956
1,2,24.0,casado,0.0,0.0,0.0,1.0,publico,25.378720
2,3,35.0,solteiro,1.0,0.0,0.0,1.0,particular,19.952393
3,4,50.0,casado,1.0,1.0,1.0,0.0,publico,26.732053
4,5,30.0,solteiro,2.0,1.0,0.0,1.0,publico,15.295668

In [10]:
df_connections.head()

   V1  V2      grau       proximidade  prob_V1_V2
0   1   2  trabalho  visita_frequente    0.589462
1   1   3  trabalho       visita_rara    0.708465
2   2   4  trabalho     visita_casual         NaN
3   2   5  trabalho       visita_rara    0.638842
4   3   6    amigos        mora_junto         NaN