## Product Data Scientist Test
#### Vítor Moura - Data Scientist

### Carga dos Dados

In [5]:
#Watermak
#!pip install -q -U watermark

In [6]:
# Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import warnings
from sklearn.preprocessing import MinMaxScaler
warnings.filterwarnings("ignore")

In [7]:
%reload_ext watermark
%watermark -a "Vítor Moura" --iversions

Author: Vítor Moura

seaborn   : 0.11.2
sys       : 3.9.12 (main, Apr  5 2022, 06:56:58)
[GCC 7.5.0]
matplotlib: 3.5.1
numpy     : 1.21.5
pandas    : 1.4.2

In [8]:
# Load data
df1 = pd.read_csv('desafio-ds/conexoes_espec.csv', sep = ";")
df2 = pd.read_csv('desafio-ds/individuos_espec.csv',sep=";")

In [9]:
df1

            V1       V2      grau       proximidade  prob_V1_V2
0            1        2  trabalho  visita_frequente    0.589462
1            1        3  trabalho       visita_rara    0.708465
2            2        4  trabalho     visita_casual         NaN
3            2        5  trabalho       visita_rara    0.638842
4            3        6    amigos        mora_junto         NaN
...        ...      ...       ...               ...         ...
999994  499998   999996  trabalho       visita_rara         NaN
999995  499998   999997  trabalho       visita_rara         NaN
999996  499999   999998   familia     visita_casual    0.451662
999997  499999   999999   familia       visita_rara    0.186973
999998  500000  1000000   familia       visita_rara         NaN

[999999 rows x 5 columns]

In [10]:
df2

,name,idade,estado_civil,qt_filhos,estuda,trabalha,pratica_esportes,transporte_mais_utilizado,IMC
0,1,44.0,divorciado,1.0,1.0,0.0,1.0,publico,22.200956
1,2,24.0,casado,0.0,0.0,0.0,1.0,publico,25.378720
2,3,35.0,solteiro,1.0,0.0,0.0,1.0,particular,19.952393
3,4,50.0,casado,1.0,1.0,1.0,0.0,publico,26.732053
4,5,30.0,solteiro,2.0,1.0,0.0,1.0,publico,15.295668
...,...,...,...,...,...,...,...,...,...
999995,999996,34.0,casado,1.0,0.0,1.0,1.0,publico,17.556771
999996,999997,40.0,casado,1.0,0.0,1.0,1.0,particular,24.848402
999997,999998,30.0,divorciado,1.0,0.0,0.0,1.0,publico,NaN
999998,999999,33.0,casado,0.0,1.0,1.0,1.0,publico,16.979569
999999,1000000,22.0,solteiro,0.0,0.0,0.0,0.0,NaN,24.018825

In [11]:
# Merge das tabelas de dados por meio da V2 e Name
dataset = df2.merge(df1, left_on='name', right_on='V2')
dataset

,name,idade,estado_civil,qt_filhos,estuda,trabalha,pratica_esportes,transporte_mais_utilizado,IMC,V1,V2,grau,proximidade,prob_V1_V2
0,2,24.0,casado,0.0,0.0,0.0,1.0,publico,25.378720,1,2,trabalho,visita_frequente,0.589462
1,3,35.0,solteiro,1.0,0.0,0.0,1.0,particular,19.952393,1,3,trabalho,visita_rara,0.708465
2,4,50.0,casado,1.0,1.0,1.0,0.0,publico,26.732053,2,4,trabalho,visita_casual,NaN
3,5,30.0,solteiro,2.0,1.0,0.0,1.0,publico,15.295668,2,5,trabalho,visita_rara,0.638842
4,6,20.0,NaN,1.0,0.0,1.0,0.0,publico,20.412942,3,6,amigos,mora_junto,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999994,999996,34.0,casado,1.0,0.0,1.0,1.0,publico,17.556771,499998,999996,trabalho,visita_rara,NaN
999995,999997,40.0,casado,1.0,0.0,1.0,1.0,particular,24.848402,499998,999997,trabalho,visita_rara,NaN
999996,999998,30.0,divorciado,1.0,0.0,0.0,1.0,publico,NaN,499999,999998,familia,visita_casual,0.451662
999997,999999,33.0,casado,0.0,1.0,1.0,1.0,publico,16.979569,499999,999999,familia,visita_rara,0.186973
999998,1000000,22.0,solteiro,0.0,0.0,0.0,0.0,NaN,24.018825,500000,1000000,familia,visita_rara,NaN

In [53]:
# Cópia do dataframe
df_temp = dataset.copy()

### Limpeza e Transformação dos Dados

In [54]:
# Removendo colunas identidade
df_temp.drop(columns=['name', 'V1', 'V2'], inplace=True)

In [55]:
df_temp

,idade,estado_civil,qt_filhos,estuda,trabalha,pratica_esportes,transporte_mais_utilizado,IMC,grau,proximidade,prob_V1_V2
0,24.0,casado,0.0,0.0,0.0,1.0,publico,25.378720,trabalho,visita_frequente,0.589462
1,35.0,solteiro,1.0,0.0,0.0,1.0,particular,19.952393,trabalho,visita_rara,0.708465
2,50.0,casado,1.0,1.0,1.0,0.0,publico,26.732053,trabalho,visita_casual,NaN
3,30.0,solteiro,2.0,1.0,0.0,1.0,publico,15.295668,trabalho,visita_rara,0.638842
4,20.0,NaN,1.0,0.0,1.0,0.0,publico,20.412942,amigos,mora_junto,NaN
...,...,...,...,...,...,...,...,...,...,...,...
999994,34.0,casado,1.0,0.0,1.0,1.0,publico,17.556771,trabalho,visita_rara,NaN
999995,40.0,casado,1.0,0.0,1.0,1.0,particular,24.848402,trabalho,visita_rara,NaN
999996,30.0,divorciado,1.0,0.0,0.0,1.0,publico,NaN,familia,visita_casual,0.451662
999997,33.0,casado,0.0,1.0,1.0,1.0,publico,16.979569,familia,visita_rara,0.186973
999998,22.0,solteiro,0.0,0.0,0.0,0.0,NaN,24.018825,familia,visita_rara,NaN

In [56]:
# Removendo os valore nulos das variáveis categóricas
df_temp.dropna(subset=['estado_civil', 'transporte_mais_utilizado', 'grau','proximidade'], inplace=True)

### Preenchimento dos valores ausentes

In [57]:
# Aplicando One-Hot Encoding nas variáveis categóricas
cat_list =['estado_civil', 'transporte_mais_utilizado', 'grau', 'proximidade']
for cat in cat_list:
    onehot = pd.get_dummies(df_temp[cat], prefix=cat)
    df_temp = df_temp.join(onehot)

In [58]:
df_temp

,idade,estado_civil,qt_filhos,estuda,trabalha,pratica_esportes,transporte_mais_utilizado,IMC,grau,proximidade,...,transporte_mais_utilizado_particular,transporte_mais_utilizado_publico,transporte_mais_utilizado_taxi,grau_amigos,grau_familia,grau_trabalho,proximidade_mora_junto,proximidade_visita_casual,proximidade_visita_frequente,proximidade_visita_rara
0,24.0,casado,0.0,0.0,0.0,1.0,publico,25.378720,trabalho,visita_frequente,...,0,1,0,0,0,1,0,0,1,0
1,35.0,solteiro,1.0,0.0,0.0,1.0,particular,19.952393,trabalho,visita_rara,...,1,0,0,0,0,1,0,0,0,1
2,50.0,casado,1.0,1.0,1.0,0.0,publico,26.732053,trabalho,visita_casual,...,0,1,0,0,0,1,0,1,0,0
3,30.0,solteiro,2.0,1.0,0.0,1.0,publico,15.295668,trabalho,visita_rara,...,0,1,0,0,0,1,0,0,0,1
5,55.0,solteiro,1.0,1.0,1.0,1.0,particular,NaN,familia,visita_casual,...,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999993,33.0,casado,0.0,0.0,0.0,NaN,particular,16.982246,familia,visita_casual,...,1,0,0,0,1,0,0,1,0,0
999994,34.0,casado,1.0,0.0,1.0,1.0,publico,17.556771,trabalho,visita_rara,...,0,1,0,0,0,1,0,0,0,1
999995,40.0,casado,1.0,0.0,1.0,1.0,particular,24.848402,trabalho,visita_rara,...,1,0,0,0,0,1,0,0,0,1
999996,30.0,divorciado,1.0,0.0,0.0,1.0,publico,NaN,familia,visita_casual,...,0,1,0,0,1,0,0,1,0,0
999997,33.0,casado,0.0,1.0,1.0,1.0,publico,16.979569,familia,visita_rara,...,0,1,0,0,1,0,0,0,0,1

In [59]:
# Podemos remover as  variáveis categóricas originais
for cat in cat_list:
    df_temp.drop(cat, axis=1, inplace=True)
df_temp

,idade,qt_filhos,estuda,trabalha,pratica_esportes,IMC,prob_V1_V2,estado_civil_casado,estado_civil_divorciado,estado_civil_solteiro,...,transporte_mais_utilizado_particular,transporte_mais_utilizado_publico,transporte_mais_utilizado_taxi,grau_amigos,grau_familia,grau_trabalho,proximidade_mora_junto,proximidade_visita_casual,proximidade_visita_frequente,proximidade_visita_rara
0,24.0,0.0,0.0,0.0,1.0,25.378720,0.589462,1,0,0,...,0,1,0,0,0,1,0,0,1,0
1,35.0,1.0,0.0,0.0,1.0,19.952393,0.708465,0,0,1,...,1,0,0,0,0,1,0,0,0,1
2,50.0,1.0,1.0,1.0,0.0,26.732053,NaN,1,0,0,...,0,1,0,0,0,1,0,1,0,0
3,30.0,2.0,1.0,0.0,1.0,15.295668,0.638842,0,0,1,...,0,1,0,0,0,1,0,0,0,1
5,55.0,1.0,1.0,1.0,1.0,NaN,0.709608,0,0,1,...,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999993,33.0,0.0,0.0,0.0,NaN,16.982246,NaN,1,0,0,...,1,0,0,0,1,0,0,1,0,0
999994,34.0,1.0,0.0,1.0,1.0,17.556771,NaN,1,0,0,...,0,1,0,0,0,1,0,0,0,1
999995,40.0,1.0,0.0,1.0,1.0,24.848402,NaN,1,0,0,...,1,0,0,0,0,1,0,0,0,1
999996,30.0,1.0,0.0,0.0,1.0,NaN,0.451662,0,1,0,...,0,1,0,0,1,0,0,1,0,0
999997,33.0,0.0,1.0,1.0,1.0,16.979569,0.186973,1,0,0,...,0,1,0,0,1,0,0,0,0,1

In [49]:
variaveis = df_temp.columns.to_list()
variaveis

['idade',
 'qt_filhos',
 'estuda',
 'trabalha',
 'pratica_esportes',
 'IMC',
 'prob_V1_V2',
 'estado_civil_casado',
 'estado_civil_divorciado',
 'estado_civil_solteiro',
 'estado_civil_viuvo',
 'transporte_mais_utilizado_particular',
 'transporte_mais_utilizado_publico',
 'transporte_mais_utilizado_taxi',
 'grau_amigos',
 'grau_familia',
 'grau_trabalho',
 'proximidade_mora_junto',
 'proximidade_visita_casual',
 'proximidade_visita_frequente',
 'proximidade_visita_rara']

In [60]:
# Contando a quantidade de valores ausentes
for i in variaveis:
    print(i, "--> Número de valores ausentes:", df_temp[i].isnull().sum())

idade --> Número de valores ausentes: 87190
qt_filhos --> Número de valores ausentes: 26208
estuda --> Número de valores ausentes: 36494
trabalha --> Número de valores ausentes: 5782
pratica_esportes --> Número de valores ausentes: 135759
IMC --> Número de valores ausentes: 103365
prob_V1_V2 --> Número de valores ausentes: 454691
estado_civil_casado --> Número de valores ausentes: 0
estado_civil_divorciado --> Número de valores ausentes: 0
estado_civil_solteiro --> Número de valores ausentes: 0
estado_civil_viuvo --> Número de valores ausentes: 0
transporte_mais_utilizado_particular --> Número de valores ausentes: 0
transporte_mais_utilizado_publico --> Número de valores ausentes: 0
transporte_mais_utilizado_taxi --> Número de valores ausentes: 0
grau_amigos --> Número de valores ausentes: 0
grau_familia --> Número de valores ausentes: 0
grau_trabalho --> Número de valores ausentes: 0
proximidade_mora_junto --> Número de valores ausentes: 0
proximidade_visita_casual --> Número de valores ausentes: 0
proximidade_visita_frequente --> Número de valores ausentes: 0
proximidade_visita_rara --> Número de valores ausentes: 0

In [66]:
# Lista com as variáveis ausentes
var_null = ['idade', 'qt_filhos','estuda','trabalha','pratica_esportes', 'IMC']

In [68]:
# Preenchendo os valores ausentes com a mediana 
for i in var_null:
    df_temp[i] = df_temp.groupby(['estado_civil_casado','proximidade_mora_junto','transporte_mais_utilizado_particular',
                                   'transporte_mais_utilizado_publico','proximidade_visita_frequente'])[i].apply(lambda x: x.fillna(x.median()) if len(x) >=5 else x)

In [69]:
# Contando o número de valores NA para cada uma das variáveis
for i in var_null:
    print(i, "--> Número de valores ausentes:", df_temp[i].isnull().sum())

idade --> Número de valores ausentes: 0
qt_filhos --> Número de valores ausentes: 0
estuda --> Número de valores ausentes: 0
trabalha --> Número de valores ausentes: 0
pratica_esportes --> Número de valores ausentes: 0
IMC --> Número de valores ausentes: 0

In [70]:
# Contando a quantidade de valores ausentes
for i in variaveis:
    print(i, "--> Número de valores ausentes:", df_temp[i].isnull().sum())

idade --> Número de valores ausentes: 0
qt_filhos --> Número de valores ausentes: 0
estuda --> Número de valores ausentes: 0
trabalha --> Número de valores ausentes: 0
pratica_esportes --> Número de valores ausentes: 0
IMC --> Número de valores ausentes: 0
prob_V1_V2 --> Número de valores ausentes: 454691
estado_civil_casado --> Número de valores ausentes: 0
estado_civil_divorciado --> Número de valores ausentes: 0
estado_civil_solteiro --> Número de valores ausentes: 0
estado_civil_viuvo --> Número de valores ausentes: 0
transporte_mais_utilizado_particular --> Número de valores ausentes: 0
transporte_mais_utilizado_publico --> Número de valores ausentes: 0
transporte_mais_utilizado_taxi --> Número de valores ausentes: 0
grau_amigos --> Número de valores ausentes: 0
grau_familia --> Número de valores ausentes: 0
grau_trabalho --> Número de valores ausentes: 0
proximidade_mora_junto --> Número de valores ausentes: 0
proximidade_visita_casual --> Número de valores ausentes: 0
proximidade_visita_frequente --> Número de valores ausentes: 0
proximidade_visita_rara --> Número de valores ausentes: 0

In [71]:
df_temp

,idade,qt_filhos,estuda,trabalha,pratica_esportes,IMC,prob_V1_V2,estado_civil_casado,estado_civil_divorciado,estado_civil_solteiro,...,transporte_mais_utilizado_particular,transporte_mais_utilizado_publico,transporte_mais_utilizado_taxi,grau_amigos,grau_familia,grau_trabalho,proximidade_mora_junto,proximidade_visita_casual,proximidade_visita_frequente,proximidade_visita_rara
0,24.0,0.0,0.0,0.0,1.0,25.378720,0.589462,1,0,0,...,0,1,0,0,0,1,0,0,1,0
1,35.0,1.0,0.0,0.0,1.0,19.952393,0.708465,0,0,1,...,1,0,0,0,0,1,0,0,0,1
2,50.0,1.0,1.0,1.0,0.0,26.732053,NaN,1,0,0,...,0,1,0,0,0,1,0,1,0,0
3,30.0,2.0,1.0,0.0,1.0,15.295668,0.638842,0,0,1,...,0,1,0,0,0,1,0,0,0,1
5,55.0,1.0,1.0,1.0,1.0,21.418236,0.709608,0,0,1,...,1,0,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999993,33.0,0.0,0.0,0.0,1.0,16.982246,NaN,1,0,0,...,1,0,0,0,1,0,0,1,0,0
999994,34.0,1.0,0.0,1.0,1.0,17.556771,NaN,1,0,0,...,0,1,0,0,0,1,0,0,0,1
999995,40.0,1.0,0.0,1.0,1.0,24.848402,NaN,1,0,0,...,1,0,0,0,0,1,0,0,0,1
999996,30.0,1.0,0.0,0.0,1.0,21.418557,0.451662,0,1,0,...,0,1,0,0,1,0,0,1,0,0
999997,33.0,0.0,1.0,1.0,1.0,16.979569,0.186973,1,0,0,...,0,1,0,0,1,0,0,0,0,1

### Normalização dos dados

In [72]:
for i in variaveis:
    df_temp[i] = MinMaxScaler().fit_transform(df_temp[i].values.reshape(len(df_temp),1))

In [73]:
df_temp

,idade,qt_filhos,estuda,trabalha,pratica_esportes,IMC,prob_V1_V2,estado_civil_casado,estado_civil_divorciado,estado_civil_solteiro,...,transporte_mais_utilizado_particular,transporte_mais_utilizado_publico,transporte_mais_utilizado_taxi,grau_amigos,grau_familia,grau_trabalho,proximidade_mora_junto,proximidade_visita_casual,proximidade_visita_frequente,proximidade_visita_rara
0,0.216216,0.000,0.0,0.0,1.0,0.243471,0.593255,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.315315,0.125,0.0,0.0,1.0,0.179106,0.730460,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
2,0.450450,0.125,1.0,1.0,0.0,0.259523,NaN,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
3,0.270270,0.250,1.0,0.0,1.0,0.123869,0.650189,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
5,0.495495,0.125,1.0,1.0,1.0,0.196493,0.731779,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
999993,0.297297,0.000,0.0,0.0,1.0,0.143875,NaN,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
999994,0.306306,0.125,0.0,1.0,1.0,0.150690,NaN,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
999995,0.360360,0.125,0.0,1.0,1.0,0.237180,NaN,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
999996,0.270270,0.125,0.0,0.0,1.0,0.196497,0.434377,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0
999997,0.297297,0.000,1.0,1.0,1.0,0.143843,0.129201,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0